@model AuthorEditViewModel


<h3 class="text-center">Author Edit Form</h3>

<form method="post" asp-controller="Author" asp-action="Edit">

    <input asp-for="Id" type="hidden" />

    <div>
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div>
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div>
        <label>Date Of Birth</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
    </div>

    <button type="submit" class="btn btn-dark mt-4 fw-bold float-end">Edit Author</button>

</form>