
<body>
    <div class="container mt-5">
        <h1 class="text-center">About</h1>
        <p class="text-center">This project was developed using C# and ASP.NET Core.</p>

        <div class="row">
            <div class="col-md-6">
                <h2>
                    About the Project
                </h2>
                <p>This application has been developed using ASP.NET Core MVC to record and manage books and authors. Users can add details of books, view author information for each book, and list the books of authors. </p>
            </div>
            <div class="col-md-6">
                <h2>Developers</h2>
                <ul>
                    <li><strong>Osman Özyaşar</strong> - Backend Developer</li>
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h2>Technologies</h2>
                <ul class="list-group">
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">ASP.NET Core</li>
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">BootStrap</li>                   
                </ul>
            </div>
        </div>
    </div>


</body>

