<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
            <i class="fas fa-search" style="font-size: 4rem; color: #6c757d;"></i>
            <h2 class="mb-4">
                No element found in the list you are looking at
            </h2>
            <p class="lead">Unfortunately, the item you are looking for does not exist or may have been deleted. Please check back or return to the home page.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return To Home Page</a>
        </div>
    </div>

    
</body>